<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>Events</h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
<!--        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="/app/events">Events</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Add</span>
            </li>
        </ul>-->
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!--<pre>{{events.events | json}}</pre>-->
                </div>
                <div class="col-md-12">
                    <hr />
                    <div class="col-md-4" ng-repeat="event in events.events">
                        <div class="portlet light portlet-fit bordered">
                            <div class="portlet-body">
                                <div class="cd-horizontal-timeline mt-timeline-horizontal loaded" data-spacing="60">
                                    <div class="events-content">
                                        <ul>
                                            <li class="selected">
                                                <div class="mt-title">
                                                    <h2 class="mt-content-title">{{event.name}}</h2>
                                                </div>
                                                <div class="mt-author">
                                                    <div class="mt-avatar">
                                                        <img ng-src="{{event.image}}" alt="{{event.name}}" style="width:50px; height:50px;">
                                                    </div>
                                                    <div class="mt-author-name">
                                                        <a href="javascript:;" class="font-blue-madison" ng-bind="event.host"></a>
                                                    </div>
                                                    <div class="mt-author-datetime font-grey-mint">23 February 2014</div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="mt-content border-grey-steel">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam euismod mi felis, aliquam at iaculis eleifend ipsum, at posuere augue. Pellentesque mi felis, aliquam at iaculis mi felis, aliquam at
                                                        iaculis eu, onsectetur adipiscing elit finibus eu ex. Integer efficitur leo eget dolor tincidunt, et dignissim risus lacinia. Nam in egestas onsectetur adipiscing elit nunc. Suspendisse potenti</p>
                                                    <a href="javascript:;" class="btn btn-circle dark btn-outline">Read More</a>
                                                    <a href="javascript:;" class="btn btn-circle btn-icon-only green pull-right">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- .events-content -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>