<div class="page-content-wrapper" ng-init="events.getEvents()">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>Events</h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Search:</label>
                                <input class="form-control" type="text" ng-model="search" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Order By:</label>
                                <select class="form-control" ng-model="events.order">
                                    <option value="name">Name</option>
                                    <option value="duration">Duration</option>
                                    <option value="host">Host</option>
                                    <option value="cost">Cost</option>
                                    <option value="-upVoteCount">Up Vote</option>
                                    <option value="-downVoteCount">Down Vote</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Limit To:</label>
                                <select class="form-control" ng-model="events.limitTo">
                                    <option value="">All</option>
                                    <option value="3">3</option>
                                    <option value="2">2</option>
                                    <option value="1">1</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Reset:</label>
                                <button class="form-control btn btn-primary" ng-click="reload();">Reset</button>
                            </div>
                        </div>
                    </div>
                         
                    <hr />
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" 
                        ng-repeat="event in events.events | filter:search | orderBy:events.order | limitTo:events.limitTo">
                        <event-detail 
                            single-event="event"
                            display-type="list"
                            up-vote="events.upVote(event)"
                            down-vote="events.downVote(event)"></event-detail>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>