<div class="page-content-wrapper" ng-init="events.getEvent()">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>Event Detail</h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <hr />
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <div class="portlet light portlet-fit bordered">
                            <div class="portlet-body">
                                <div class="cd-horizontal-timeline mt-timeline-horizontal">
                                    <div class="events-content">
                                        <ol style="list-style-type: none;">
                                            <li class="selected">
                                                <div class="mt-title" style="margin-bottom:20px;">
                                                    <h2 class="mt-content-title">{{events.event.name}}</h2>
                                                </div>
                                                <div class="mt-author">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="mt-avatar">
                                                                <img ng-src="{{events.event.image}}" alt="{{events.event.name}}" style="height:180px; width:300px; margin-bottom:10px;">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 text-right">
                                                            <div class="mt-author-name">
                                                                <span class="font-blue-madison" ng-bind="events.event.host"></span>
                                                            </div>
                                                            <div class="mt-author-datetime font-grey-mint">{{events.event.date | date:medium}}</div>
                                                            <div class="mt-author-datetime font-grey-mint">{{events.event.time | atvTimeline:events.event.duration}}</div>
                                                            <div class="mt-author-datetime font-grey-mint"><address>{{events.event.address}}<address></div>
                                                            
                                                            <div class="mt-author-datetime font-grey-mint">{{events.event.cost | currency:events.event.currency}}</div>
                                                            <br />
                                                            <div class="clearfix"></div>
                                                            <div class="mt-content border-grey-steel">
                                                                {{events.event.downVoteCount}}
                                                                <a ng-click="events.downVote(event)" href="javascript:;" class="btn btn-circle btn-icon-only red" title="Down Vote">
                                                                    <span aria-hidden="true" class="icon-dislike"></span>
                                                                </a>
                                                                &nbsp;&nbsp;&nbsp;
                                                                
                                                                {{events.event.upVoteCount}}
                                                                <a ng-click="events.upVote(event)" href="javascript:;" class="btn btn-circle btn-icon-only green" title="Up Vote">
                                                                    <span aria-hidden="true" class="icon-like"></span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <div class="clearfix"></div>
                                                        <div class="mt-content border-grey-steel">
                                                            <p>{{events.event.details}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br />
                                                
                                            </li>
                                        </ol>
                                    </div>
                                    <!-- .events-content -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>